@keyframes example {
    0% {
        opacity: 0;
    }
20%{
    opacity: 0.2;
}
40% {
    opacity: 0.4;
}
60% {
    opacity: 0.6;
}
80% {
    opacity: 0.8;
}
    100% {
       opacity: 1;
    }
}
.anime{
width: 100vw;
    height: 100vh;
    animation-name: example;
    animation-timing-function:linear;
    animation-duration: 4s;
    position: relative;
}